<header class="header-nav">
    <div class="header-logo">
        <a href="/">
                {% if section.settings.image != blank %}
                    <img
                        width="40"
                        height="40"
                        loading="lazy"
                        src="{{ section.settings.logo_image | image_url }}" 
                        alt="logo top"/>
                {% else %}
                    <img 
                        width="80"
                        height="50"
                        loading="lazy"
                        src="{{ 'nike-logo.png' | asset_url }}" 
                        alt="nike-logo"/>
                {% endif %}
        </a>
    </div>

    <div class="nav-menu">
        <nav>
            <ul>
                {% for link in linklists['main-menu'].links -%}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="header-right">
        <!-- Additional header content -->
    </div>
</header>



<style>
    .header-logo a img{
        background: {{  section.settings.background }};
    }
    .nav-menu ul li a{
        color: {{  section.settings.text_color }};
    }
</style>


{% schema %}

{
    "name": "Header Style",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Pick image",
            "info": "Png file"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#000000"
        }


    ],

}

{% endschema %}
